<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title><%= htmlWebpackPlugin.options.metadata.notes%></title>
    <meta notes="<%= htmlWebpackPlugin.options.metadata.notes%>">
    <link href="//cdn.materialdesignicons.com/1.8.36/css/materialdesignicons.min.css"
          media="all" rel="stylesheet" type="text/css"/>
</head>

<body>
    <audio class="soundfile1" src="sample.mp3"></audio>
    <audio class="soundfile2" src="event1.mp3"></audio>
    <div class="app" id="main"></div>
</body>

<script>
    var websocketAddress = "<%= htmlWebpackPlugin.options.metadata.websocketAddress%>"
    var version = "<%= htmlWebpackPlugin.options.metadata.version%>"
    var notes = "<%= htmlWebpackPlugin.options.metadata.notes%>"
</script>

</html>
